<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authors</title>
</head>
<body>
  <%- include("./navbar") %>  <!-- reusable navbar -->

  <main>
    <h2>Author Page</h2>
    <p>All authors are listed here.</p>
  </main>

  <%- include("./footer") %>  <!--swsw reusable footer -->
</body>
</html>
